arrow
binaryornot
certifi
chardet
charset-normalizer
click
contourpy
cookiecutter
cycler
fonttools
idna
Jinja2
jinja2-time
kiwisolver
MarkupSafe
matplotlib
Mesa
networkx
numpy
packaging
pandas
Pillow
pyparsing
python-dateutil
python-slugify
pytz
PyYAML
requests
six
text-unidecode
tornado
tqdm
urllib3
